body{
  margin: 0;
}

img {
  width: 60px;
}

.card{
  float: left;
  border: 1px black solid;
  width: 33%;
  text-align: center;
  padding-top: 10px;
  margin: 1.1px;
}

button {
  border-color: green;
  border-radius: 4px;
  background-color: white;
  color: green;
  height: 30px;
  width: 50px;

}

.head-title{
    font-size: 40pt;
    padding-left: 50px;
}

.head-content{
  font-size: 10pt;
  padding-left: 50px;
  vertical-align: top;
}

.head {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 200px;
  background-color: lightgrey;
  padding-top: 50px;
}

